@charset "utf-8";
/* CSS Document */

body { font-size:12px; font-family:arial,"宋体",sans-serif; background:#EFEFEF; color:#333; overflow-y:auto; }
body,ul,li,h1,h2,h3,h4,h5,p,form { margin:0; padding:0; list-style:none; }

.t-header { width:100%; height:35px; background:url(/assets/style/gdg/img/rpx.png) repeat-x 0 -60px; position:relative; z-index:2; }
.t-header .th-cont {max-width:920px;width:100%;min-width:400px;  height:35px; margin:0 auto; }
.t-header .th-cont .yk-logo { float:left; margin-left:10px; _margin-left:5px;margin-top:9px; }
.t-header .th-cont ul { float:right; }
.t-header .th-cont ul li { height:20px; line-height:20px; padding:0 5px; margin-top:8px; float:right; color:#666; font-family:"宋体"; }
.t-header .th-cont ul li a { color:#666; }
.t-header .th-cont ul li a span { color:#F00; font-weight:normal; }
.t-header .th-cont ul li.language { 
	width:70px; height:16px; line-height:16px; padding:5px 7px 8px 1px; margin:5px 0 0; text-align:center; position:relative; cursor:pointer; 
}
.t-header .th-cont ul li.language i { 
	position:absolute; right:10px; top:10px; 
}
.t-header .th-cont ul li.language:hover,.t-header .th-cont ul li.language.hover { 
	padding:4px 6px 8px 0; border:1px solid #BBB; border-bottom:none; 
	background:url(/assets/style/gdg/img/rpx.png) repeat-x 0 -100px; 
}
.t-header .th-cont ul li.language:hover i,.t-header .th-cont ul li.language.hover i { position:absolute; right:9px; top:9px; }
.t-header .th-cont ul li.language .panel { width:90px; text-align:left; overflow:hidden; display:none; padding:5px 0 10px; border:1px solid #BBB; border-top:none; position:absolute; top:28px; left:-1px; background:#FFF; }
.t-header .th-cont ul li.language .panel a { width:100%; height:16px; line-height:16px; overflow:hidden; padding:2px 9px; color:#333; display:block; margin:0 auto; font-style:normal; outline:none; }
.t-header .th-cont ul li.language .panel a:hover { color:#0097E0; }
.t-header .th-cont ul li.language:hover .panel,.t-header .th-cont ul li.language.hover .panel { display:block; }
.t-header .th-cont ul li.family { font-family:arial; }

.logo { max-width:920px;width:100%;min-width:400px; height:80px; margin:0 auto; text-align:left; padding-top:15px; position:relative; z-index:1; }
.logo i { float:left; }
.logo .btnbox { float:right; }
.logo .btnbox a { float:right; margin-right:10px; _margin-right:5px;}

.fm-body { max-width:920px;min-width:380px; overflow:hidden; margin:0 auto; }
.fm-body .cont-left {
	float:left;
	width:100%;
	margin:0 0 0 -258px;
	overflow:hidden;position:relative;
}
.fm-body .cont-left .inner-left{
	margin:0 0 0 258px;
}

.top,.bottom { width:100%; height:10px; overflow:hidden; left:0; top:0; }
.top .box,.bottom .box { padding:0 10px; height:10px; overflow:hidden; position:relative; }
.top .box i,.bottom .box i { width:10px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -80px -200px; position:absolute; left:0; top:0; }
.top .box i.right,.bottom .box i.right { background-position:-90px -200px; left:auto; right:0; }
.top .box .boxcenter,.bottom .box .boxcenter { height:10px; overflow:hidden; background:url(/assets/style/gdg/img/rpx.png) repeat-x 0 0; }

.bottom { top:auto; bottom:0; }
.bottom .box i { background-position:-80px -210px; }
.bottom .box i.right { background-position:-90px -210px; }
.bottom .box .boxcenter { background-position:0 -15px; }

.fm-body .cont-left .cont-border{ position:relative;overflow:hidden;}
/*
.ly-box .cont-border { position:relative;}
*/
.fm-body .cont-left .cont-border .left,
.fm-body .cont-left .cont-border .right { 
	width:10px; height:100%; position:absolute; left:0; top:0; 
}

.fm-body .cont-left .cont-border .left .box,.fm-body .cont-left .cont-border .right .box { 
	width:10px;
	height:100%;background:url(/assets/style/gdg/img/rpy.png) repeat-y 0 0; 
	_height:428px; /* for ie6 */
}

.fm-body .cont-left .cont-border .right { left:auto; right:0; }
.fm-body .cont-left .cont-border .right .box { background-position:-15px 0; }
/*
.fm-body .cont-left .cont-border .content { 
	padding:5px 0 0; overflow:hidden;margin-right: 10px;margin-left: 10px; 
_margin-left: 5px;
_margin-right: 5px;
	}
.fm-body .cont-left .cont-border .content .box{ 
margin-left: 10px;
margin-right: 10px;
_margin-left: 5px;
_margin-right: 5px;
}
*/
.fm-body .cont-left .cont-border .content { padding:5px 20px 0; overflow:hidden; }
.fm-body .cont-left .cont-border .content h2 { height:20px; line-height:20px; font-size:14px; font-family:"宋体"; position:relative; }
/*
.fm-body .cont-left .cont-border .content h2 { font-size:14px; font-family:"宋体"; position:relative; }
*/
.fm-body .cont-left .cont-border .content h2 span { font-weight:normal; }
.fm-body .cont-left .cont-border .content h2 i { position:absolute; right:0; top:0; }

.fm-body .cont-left .cont-border .content h2 i.btn-width:hover,.fm-body .cont-left .cont-border .content h2 i.btn-width.hover { background:url(/assets/style/gdg/img/ui.png) no-repeat -35px -90px; }
.fm-body .cont-left .cont-border .content h2 i.already:hover,.fm-body .cont-left .cont-border .content h2 i.already.hover { background:url(/assets/style/gdg/img/ui.png) no-repeat -275px -90px; }
.fm-body .cont-left .cont-border .content .player { height:364px; overflow:hidden; margin-top:10px; }
.fm-body .cont-left .cont-border .content .player-controll { height:24px; overflow:hidden; margin-top:5px; position:relative; }
.fm-body .cont-left .cont-border .content .player-controll .center { width:300px; height:20px; overflow:hidden; margin:5px auto 0; text-align:center; }
.fm-body .cont-left .cont-border .content .player-controll .center a.btn-love.hover { background-position:-290px -115px; }
.fm-body .cont-left .cont-border .content .player-controll .center em { width:12px; height:12px; padding-top:4px; display:inline-block; }
.fm-body .cont-left .cont-border .content .player-controll .center .left-box { width:100px; height:27px; overflow:hidden; position:absolute; left:0; top:0; }
.fm-body .cont-left .cont-border .content .player-controll a.btn-share { position:absolute; left:1px; top:1px; }
.fm-body .cont-left .cont-border .content .player-controll a.btn-share.hover { background:url(/assets/style/gdg/img/rpx.png) repeat-x 0 -100px; border:1px solid #BBB; border-bottom:none; color:#666; left:0; top:0; }
/*.fm-body .cont-left .cont-border .content .player-controll .center a { display:inline-block; margin-left:10px; }*/
.fm-body .cont-left .cont-border .content .player-controll .center li {float:left; padding-left: 4px;padding-right: 4px;}
.fm-body .cont-left .cont-border .content .player-controll .center ul { width:150px;margin: 0 auto;height: 20px; }
.fm-body .cont-left .cont-border .content .player-controll .right { width:120px; overflow:hidden; position:absolute; right:5px; top:8px; }
.fm-body .cont-left .cont-border .content .player-controll .right a { float:right; margin-right:5px; }

#btn-list.select { background-position:-236px -191px; }
#btn-order.select { background-position:-258px -190px; }
#btn-for.select { background-position:-285px -190px; }



.fm-body .cont-right { width:258px;  padding:0 0 10px; position:relative; float:right; }
.fm-body .cont-right .tab-bg { width:250px; height:32px; overflow:hidden; background:url(/assets/style/gdg/img/tab-bg.png) no-repeat; padding:4px 4px 0 4px; }
.fm-body .cont-right .tab-bg .tab { width:255px; height:32px; overflow:hidden; margin-left:-2px; }
.fm-body .cont-right .tab-bg .tab a { width:83px; height:14px; display:inline-block; line-height:14px; padding:11px 0; float:left; text-align:center; margin-left:2px;color: #9D612F; }
.fm-body .cont-right .tab-bg .tab a.current { background:url(/assets/style/gdg/img/ui.png) no-repeat 0 -275px; }

.fm-body .cont-right .bottom { width:100%; height:10px; overflow:hidden; position:absolute; left:0; bottom:0; }
.fm-body .cont-right .bottom .box { padding:0 10px; height:10px; overflow:hidden; position:relative; }
.fm-body .cont-right .bottom .box i { width:10px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -105px -210px; position:absolute; left:0; top:0; }
.fm-body .cont-right .bottom .box i.right { background-position:-115px -210px; left:auto; right:0; }
.fm-body .cont-right .bottom .box .boxcenter { height:10px; overflow:hidden; background:url(/assets/style/gdg/img/rpx.png) repeat-x 0 -45px; }

.fm-body .cont-right .cont-border { height:405px;  padding:0 4px; position:relative; }
.fm-body .cont-right .cont-border .left,.fm-body .cont-right .cont-border .right { width:4px; height:100%; overflow:hidden; position:absolute; left:0; top:0; }
.fm-body .cont-right .cont-border .left .box,.fm-body .cont-right .cont-border .right .box { width:4px; height:1500px; overflow:hidden; background:url(/assets/style/gdg/img/rpy.png) repeat-y -30px 0; }
.fm-body .cont-right .cont-border .right { left:auto; right:0; }
.fm-body .cont-right .cont-border .right .box { background-position:-21px 0; }

.fm-body .cont-right .cont-border .search-box { width:250px; height:40px; margin:0 auto; border-bottom:1px solid #CCC; overflow:hidden; position:relative; }
.fm-body .cont-right .cont-border .search-box i.search-bg { width:230px; height:26px; display:block; margin:7px auto 0; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -50px -230px; }
.fm-body .cont-right .cont-border .search-box a { position:absolute; right:18px; top:10px; }
.fm-body .cont-right .cont-border .search-box input { width:195px; height:18px; color:#666; position:absolute; left:20px; top:11px; border:none; background:none; outline:none; }

.fm-body .cont-right .cont-border ul.music-list { width:230px; height:316px; overflow:hidden; overflow-y:scroll; border:1px solid #CCC; margin:10px auto 0; background:#FFF; position:relative; }
.fm-body .cont-right .cont-border ul.music-list li {  line-height:18px; overflow:hidden; padding:2px 0 2px 10px; position:relative; border-bottom:1px solid #CCC; cursor:pointer; }
.fm-body .cont-right .cont-border ul.music-list li i { position:absolute; left:4px; top:4px; }
.fm-body .cont-right .cont-border ul.music-list li span { overflow:hidden; float:left; padding-left:5px; }
.fm-body .cont-right .cont-border ul.music-list li em { width:50px; overflow:hidden; float:left; text-align:center; font-style:normal; }
.fm-body .cont-right .cont-border ul.music-list li:hover,.fm-body .cont-right .cont-border ul.music-list li.hover { background:#E1F0F7; }
.fm-body .cont-right .cont-border ul.music-list li.select i { background-position:-155px -200px; }

.fm-body .cont-right .cont-border .btnline { width:230px; height:22px;  margin:10px auto 0; position:relative; }
.fm-body .cont-right .cont-border .btnline a { margin-left:2px; }
.fm-body .cont-right .cont-border .btnline a.btn-c { float:right; margin-right:2px; margin-left:auto; }

.fm-body .cont-right .cont-border .dt-box { width:230px; padding:10px 0; overflow:hidden; background:#48372D; }
.fm-body .cont-right .cont-border .dt-box h2 { text-align:center;  padding:5px 0; overflow:hidden; font-size:12px; color: #B98C65;}
.fm-body .cont-right .cont-border .dt-box h2 span { font-weight:normal; }
.fm-body .cont-right .cont-border .dt-box img { display:block; width:210px; height:126px; margin:10px auto 0; border:none; }

.fm-body .cont-right .cont-border .sw-box { width:230px; height:338px; overflow:hidden; border:1px solid #CCC; background:#FFF; }
.fm-body .cont-right .cont-border .sw-box p { text-align:center; overflow:hidden; line-height:16px; padding:6px 10px; color:#666; font-size:14px; }
.fm-body .cont-right .cont-border .sw-box p.current { color:#F90; }

.copyright {max-width:920px;min-width:380px; height:16px; line-height:16px; padding:5px 0; margin:30px auto 0; text-align:center; color:#999; }


.share-layer { width:190px; overflow:hidden; padding:6px 10px 4px; position:absolute; border:1px solid #CCC; border-top:none; background:#FFF; display:none; }
.share-layer .top { width:100%; height:1px; display:block; overflow:hidden; position:absolute; left:45px; top:0; background:#CCC; }
.share-layer span { padding:0 2px; }
.share-layer img { border:none; }


.screen-over { width:100%; height:100%; position:absolute; left:0; top:0; z-index:50; background:#000; filter:alpha(opacity=50); opacity:0.5; }



.login-box { width:340px; overflow:hidden; background:#FFF; border:1px solid #CCC; border-radius:8px; padding-bottom:20px; }
.login-box .elm-list { margin-top:20px; }
.login-box .msgbox { margin-top:10px; }
.elm-list li { float:left; }
.elm-list li.label { width:80px; height:18px; line-height:18px; font-size:14px; text-align:right; padding:16px 0 16px 20px; }
.elm-list li.input { width:210px; height:32px; padding:9px 0 9px 10px; }
.elm-list li.input .txt { width:190px; height:16px; padding:8px 5px; color:#666; border:none; background:url(/assets/style/gdg/img/ui.png) no-repeat 0 -315px; outline:none; }
.elm-list li.input .ckbox { float:left; }
.elm-list li.input .ck-label { display:block; padding:2px 5px; float:left; }
.elm-list li.ck { padding-top:0; padding-bottom:0; }
.elm-list li.line {height:16px; line-height:16px; padding:3px 0 3px 50px; vertical-align:top; }
.elm-list li.line * { float:left; }
.elm-list li.line a,.elm-list li.line,label,.elm-list li.line span { padding-top:2px; }
.elm-list li.line a { color:#09D; }
.singleBtn { width:100%; overflow:hidden; margin:0 auto; padding:10px 0 5px; text-align:center; float:left; }
.singleBtn a.btn-layer-d { display:inline-block; }

.msgbox { width:90%; overflow:hidden; line-height:14px; border:1px solid #FFC700; background:#FFFFDD; margin:0 auto; text-align:center; padding:3px 0; vertical-align:top; color:#F00; }
.msgbox i.notice,.msgbox i.error { display:inline-block; }

.reg-box,.cgfm-box { padding:10px 0; overflow:hidden; background:#FFF; border:1px solid #CCC; border-radius:8px; }

.cgfm-box a {
	height:16px; line-height:16px; display:block; padding:10px; 
	text-align:center; 
	border: 1px solid #CCC;
	background: #EEE;
	border-radius: 8px 8px;
	-moz-border-border-radius: 8px 8px;
	-webkit-border-radius: 8px 8px;
}
.cgfm-box a:hover { background: #E1F0F7; }
.cgfm-box a.disabled { background: #BBB; }



.cgfm-box ul {  float:left; margin-left:10px;_margin-left:5px; overflow:hidden; display:inline; }
.cgfm-box ul li { float:left; padding:5px; overflow:hidden; }
.cgfm-box ul.big { width:120px; }

.layer-swbox { }
.layer-swbox .swbox-cont { height:320px; overflow: auto; padding:10px 0;background:#FFF; border:1px solid #CCC; border-radius:8px; }
.layer-swbox .swbox-cont p { line-height:16px; padding:5px 20px; overflow:hidden; text-align:center; font-size:14px; }
.layer-swbox .singleBtn { padding:5px 0; }

/*
.ly-box .cont-border h3.list-des { height:16px; line-height:16px; color:#666; text-align:left; padding:0 0 0 20px; position:absolute; left:100px; top:4px; font-weight:normal; z-index:10; font-size:12px; }
.ly-box .cont-border h3.list-des i.face { position:absolute; left:0; top:0px; }
*/
.mylist-box {overflow: auto;width: 100%; }
.mylist-box .mylist-cont {background:#FFF; border:1px solid #CCC; border-radius:8px; }
.mylist-box .mylist-cont ul.list,.mylist-box .mylist-cont ul.mvlist {  margin:0 auto; }
.mylist-box .mylist-cont ul.list li { padding:10px; border-bottom:1px solid #CCC; position:relative; }
.mylist-box .mylist-cont ul.list li h2 { 
	height:16px; line-height:16px; padding:2px 0; 
	position:relative; width:auto; font-family:"宋体"; 
	font-weight:normal; top:auto;
	margin-left: 20px;
	z-index:1;_margin-left: 10px;
}
.mylist-box .mylist-cont ul.list li h2 a { float:left; color:#007db5; overflow:hidden; font-size:14px; }
.mylist-box .mylist-cont ul.list li h2 span { float:left;font-size: 14px;color:#999; }
.mylist-box .mylist-cont ul.list li h2 a.btn-play-s { margin-left:5px; _margin-left:2px; }
.mylist-box .mylist-cont ul.list li p { font-size:12px; color:#999; text-align:left; line-height:18px; }
.mylist-box .mylist-cont ul.list li .edit { position:absolute; top:12px; right:0; z-index:2; }
.mylist-box .mylist-cont ul.list li .edit a {float:right; overflow:hidden; line-height:16px; margin-right:10px; _margin-right:5px;color:#007db5; }
.mylist-box .mylist-cont ul.list li .edit a:hover,.mylist-box .mylist-cont ul.list li h2 a:hover { text-decoration:underline; }

.mylist-box .mylist-cont ul.mvlist li { width:100%; height:auto; overflow:hidden; position:relative; padding:4px 0; border-bottom:1px solid #CCC; cursor:pointer; }
.mylist-box .mylist-cont ul.mvlist li p,.mylist-box .mylist-cont ul.mvlist li i { float:left; margin-left:5px;_margin-left:2px; }
.mylist-box .mylist-cont ul.mvlist li p { line-height:16px; font-size:12px; text-align:left; }
.mylist-box .mylist-cont ul.mvlist li span {margin-left: 6px; _margin-left: 3px; /*position:absolute; top:4px; right:0;*/ }
.mylist-box .mylist-cont ul.mvlist li span a { float:right; margin-right:5px; _margin-right:2px;}
.mylist-box .mylist-cont ul.mvlist li span a i { float:none; margin:0; }
/*.mylist-box .mylist-cont ul.mvlist */li.select span.checkbox { background-position:-155px -200px; }

.mylist-box .mylist-cont .label-title { width:358px; height:16px; padding:20px 0 5px; line-height:16px; margin:0 auto; font-size:14px; text-align:left; }
.mylist-box .mylist-cont .input-txt,.mylist-box .mylist-cont .input-area { width:350px; height:16px; padding:7px 3px; color:#666; margin:0 auto; display:block; outline:none; border:1px solid #CCC; border-radius:4px; background:none; }
.mylist-box .mylist-cont .input-area { padding:4px 3px; height:100px; max-width:350px; overflow-y:auto; }
.mylist-box .mylist-cont .pages { overflow:hidden; padding:10px 0; margin:5px auto 0; }
.mylist-box a.btn-rb { position:absolute; right:0; bottom:0; text-indent:-999px; }

.about-box {  overflow:hidden; margin:0 auto; }
.about-box .cont { width:96%; overflow:hidden; padding:10px 0 0; margin:0 auto; }
.about-box p { height:16px; line-height:16px; text-align:left; padding:3px 0; }
.about-box .singleBtn { text-align:right; padding:0; }

.help-box {}
.help-box .help-cont { overflow-y:auto;overflow-x: hidden; padding:10px 0; background:#FFF; border:1px solid #CCC; border-radius:8px; text-align:center; }
.help-box .cont { width:88%;height: 400px; margin:20px auto 0; text-align:left; }
.help-box .cont h2 { padding-left:20px; position:relative; font-size:14px; height:16px; line-height:16px; color:#333; left:auto; top:auto; }
.help-box .cont h2 i { position:absolute; left:0; top:3px; }
.help-box .cont p { line-height:24px; padding:5px 0 5px 20px; font-size:14px; color:#333; }

.pages .pg-box { float:right; overflow:hidden; }
.pages .pg-box a { float:left; padding:2px 6px; text-align:center; border:1px solid #DDD; background:#F8F8F8; color:#0099DE; margin-right:5px; _margin-right:2px; }
.pages .pg-box i { float:left; padding:2px 6px; text-align:center; border:none; background:none; margin-right:5px; _margin-right:2px; font-style:normal; }
.pages .pg-box a.fl { color:#666; }



.msg-box {overflow:hidden; }
.msg-box .cont { width:280px; overflow:hidden; padding:15px 30px; margin:0 auto; background:#FFF; border:1px solid #CCC; border-radius:8px; }
.msg-box .cont * { float:left; }
.msg-box .cont span { padding:10px 0 0 10px; line-height:16px; }
.msg-box .singleBtn { float:none; }
.msg-box .singleBtn a { display:inline-block; }
.msg-box.nobg .cont { border:none; background:none; border-radius:0; }
.des { color:#999; }

.mvlist-edit-layer { width:164px; overflow:hidden; position:absolute; z-index:20; left:350px; top:250px; font-family:"宋体"; }
.mvlist-edit-layer .top { width:157px; height:auto; overflow:hidden; position:relative; z-index:1; border:1px solid #CCC; background:#DDD; background:rgba(221,221,221,0.9); border-radius:6px; padding:6px 0 5px 5px; }
.mvlist-edit-layer i.bg { width:13px; height:30px; display:block; position:absolute; z-index:1; right:0; top:0; background:url(/assets/style/gdg/img/ui.png) no-repeat -383px -416px; }

.mvlist-edit-layer .icon_del { width:20px; height:20px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -360px -145px; position:absolute; right:6px; top:7px; z-index:2; }

.mvlist-edit-layer .top p { width:90px; overflow:hidden; line-height:14px; position:relative; z-index:2; color:#666; background:#FFF; border:1px solid #CCC; border-radius:4px; padding:3px 14px 2px 20px; }
.mvlist-edit-layer .top p .icon_add { width:15px; height:12px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -360px -175px; position:absolute; left:1px; top:3px; z-index:3; }
.mvlist-edit-layer .top p .icon-down { position:absolute; right:5px; top:8px; }
.mvlist-edit-layer.hover .top p .icon_add { background-position:-360px -190px; }
.mvlist-edit-layer.hover .icon_del { background-position:-360px -115px; }

.mvlist-edit-layer .mdrag-layer { 
	width:130px; overflow:hidden; padding:10px 0; position:relative;
	margin-top:1px; border:1px solid #CCC; border-radius:6px; background:#DDD; background-color:rgba(221,221,221,0.9);*background:#DDD; display:none;
}
.mvlist-edit-layer ul { 
	background: white;
}
/*.mvlist-edit-layer.hover .mdrag-layer { display:block; }*/
.mvlist-edit-layer .mdrag-layer { display:block; }
.mvlist-edit-layer .mdrag-layer .layer-bg { 
	width:100%; height:1000px; position:absolute; left:0; top:0; z-index:1; opacity:0.2; filter:alpha(opacity=20); z-index:1; 
}
.mvlist-edit-layer .mdrag-layer a { 
	width:110px; height:16px; display:block; line-height:16px; 
	color:#666; padding:4px 10px; text-align:left; position:relative; z-index:2;
}
.mvlist-edit-layer .mdrag-layer a span { color:#999; }
.mvlist-edit-layer .mdrag-layer li {border-bottom:1px solid #CCC;}
.mvlist-edit-layer .mdrag-layer li.hover {
	font-weight:bold;
	border: 1px solid red;
}
.fm-body .cont-right .cont-border ul.music-list li:hover,.fm-body .cont-right .cont-border ul.music-list li.hover { background:#E1F0F7; }
.fm-body .cont-right .cont-border ul.music-list li.select i { background-position:-155px -200px; }
.fm-body .cont-right .cont-border ul.music-list li.current	{ background-color: #DDDEE0; }




i.yk-logo { width:69px; height:15px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat 0 -65px; }
i.fm-logo { width:172px; height:53px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat 0 0; 
margin-left:10px; _margin-left:5px;}
i.icon-down { width:6px; height:3px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -200px -155px; }

i.btn-width { width:21px; height:16px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat 0 -90px; }
i.btn-width.already { background-position:-240px -90px; }

.btn-share { width:45px; height:14px; line-height:15px; padding:7px 0 6px; display:block; overflow:hidden; text-align:center; position:absolute; color:#666; text-indent:12px; }
.btn-share i { position:absolute; left:5px; top:8px; }
.btn-love { margin-left: 10px;width:22px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -105px -115px; text-indent:-999px; }
.btn-prev { width:12px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -5px -114px; text-indent:-999px; }
.btn-next { width:12px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -73px -114px; text-indent:-999px; }
.btn-pause { width:18px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -36px -115px; text-indent:-999px; }

.btn-remove { width:17px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -147px -115px; text-indent:-999px; }
.btn-play { width:13px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -5px -145px; text-indent:-999px; }
.btn-skip { width:24px; height:16px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -40px -146px; text-indent:-999px; }


a.btn-prev:hover { background-position:-190px -114px; }
a.btn-next:hover { background-position:-258px -114px; }
a.btn-pause:hover { background-position:-221px -115px; }
a.btn-love:hover,a.btn-love.hover { background-position:-290px -115px; }
a.btn-remove:hover { background-position:-332px -115px; }
a.btn-play:hover { background-position:-5px -170px; }
a.btn-skip:hover { background-position:-40px -171px; }

i.icon-share { width:8px; height:11px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -180px -150px; }

i a { width:100%; height:100%; display:block; overflow:hidden; text-indent:-999px; }

.rollbtn { width:48px; height:54px; display:block; overflow:hidden; color:#666; cursor:pointer; position:relative; }
.rollbtn em { width:38px; height:38px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -5px -226px; margin:0 auto; z-index:1; }
.rollbtn i { width:20px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat; position:absolute; left:15px; top:8px; z-index:2; }
.rollbtn i.change { background-position:-180px -90px; }
.rollbtn:hover i.change { background-position:-210px -90px; }
.rollbtn i.mode { width:18px; height:18px; background-position:-70px -90px; }
.rollbtn:hover i.mode { background-position:-100px -89px; }
.rollbtn span { text-align:center; line-height:18px; }
.rollbtn:hover { color:#0097E0; }

a.btn-w { width:37px; height:16px; line-height:16px; padding:2px 0; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -5px -200px; text-align:center; }

a.btn-c { width:20px; height:20px;overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -50px -200px; position:relative; text-indent:-999px; }
a.btn-c i.add { position:absolute; left:3px; top:4px; }
a.btn-c i.remove { position:absolute; left:4px; top:4px; }
a.btn-c i.save { position:absolute; left:4px; top:4px; }
a.btn-c i.l,a.btn-c i.r { position:absolute; left:5px; top:5px; }
a.btn-c i.play { position:absolute; left:7px; top:5px; }

a.btn-c:hover i.add { background-position:-160px -170px; }
a.btn-c:hover i.remove { background-position:-355px -215px; }
a.btn-c:hover i.save { background-position:-212px -170px; }
a.btn-c:hover i.play { background-position:-100px -70px; }
a.btn-c:hover i.l { background-position:-130px -150px; }
a.btn-c:hover i.r { background-position:-155px -150px; }

a.btn-rb { width:10px; height:10px; display:block; background:url(/assets/style/gdg/img/ui.png) no-repeat -120px -70px; }

a.btn-search { width:14px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -130px -90px; text-indent:-999px; }
a.btn-search:hover,a.btn-search.hover { background-position:-155px -90px; }

a.btn-list { width:11px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -236px -151px; text-indent:-999px; }
a.btn-list:hover { background-position:-236px -171px; }
a.btn-list.select { background-position:-236px -191px; }
a.btn-order { width:17px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -257px -150px; text-indent:-999px; }
a.btn-order:hover { background-position:-257px -170px; }
a.btn-order.select { background-position:-258px -190px; }
a.btn-for { width:17px; height:11px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -284px -150px; text-indent:-999px; }
a.btn-for:hover { background-position:-284px -170px; }
a.btn-for.select { background-position:-285px -190px; }

.btn-search { width:14px; height:18px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -130px -90px; text-indent:-999px; }
.btn-search:hover,.btn-search.hover { background-position:-155px -90px; }

.btn-list { width:11px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -236px -151px; text-indent:-999px; }
.btn-list:hover { background-position:-236px -171px; }

.btn-order { width:17px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -257px -150px; text-indent:-999px; }
.btn-order:hover { background-position:-257px -170px; }
.btn-for { width:17px; height:11px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -284px -150px; text-indent:-999px; }
.btn-for:hover { background-position:-284px -170px; }

.btn-login { width:70px; height:14px; display:inline-block; line-height:14px; padding:8px 0; text-align:center; color:#666; background:url(/assets/style/gdg/img/ui.png) no-repeat -260px -275px; font-weight:bold; }
.content .btn-login.hover { background:url(/assets/style/gdg/img/ui.png) no-repeat -175px -275px; color:#FFF; }

.btn-layer-d { width:53px; height:14px; line-height:14px; display:block; padding:5px 0 4px; background:url(/assets/style/gdg/img/ui.png) no-repeat 0 -360px; color:#666; text-align:center; font-family:"宋体"; }
.btn-layer-d:hover { background-position:-69px -360px; color:#333; }
.singleBtn .big { width:73px; background-position:-135px -360px; position:relative; }
.singleBtn .big:hover { background-position:-220px -360px; }
.singleBtn .icon { text-indent:20px; text-align:left; }
.btn-layer-d i { position:absolute; left:4px; top:5px; }
.singleBtn .ret { text-indent:26px !important; }
.singleBtn .icon i.l { left:10px; top:6px; }
.singleBtn .icon:hover i.add { background-position:-160px -170px; }
.singleBtn .ret:hover i.l { background-position:-130px -150px; }

a.btn-play-s { width:14px; height:14px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -235px -210px; }
a.btn-play-s:hover { background-position:-260px -210px; }

/*歌曲列表*/
span.checkbox { float: left;width:13px; height:14px; margin-top: 2px;overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -135px -200px; }
/*编辑列表*/
/*i.checkbox { width:13px; height:14px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -135px -200px; }*/
i.add { width:15px; height:12px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -80px -170px; }

i.remove { width:12px; height:12px; display:block; overflow:Hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -335px -215px; }

a.close { width:11px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -107px -171px; text-indent:-999px; }
a.close:hover {background-position:-187px -171px; }
i.save { width:12px; height:12px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -132px -170px; }
i.play { width:6px; height:9px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -80px -70px; }

i.icon_ques { width:16px; height:16px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -310px -210px; }


i.notice { width:13px; height:13px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -310px -150px; }
i.error { width:13px; height:13px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -330px -150px; }
i.warning { width:34px; height:34px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -310px -170px; }


i.face { width:15px; height:15px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -285px -210px; }

i.l { width:10px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -80px -150px; }
i.r { width:10px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -105px -150px; }

.current { display:block; }
.hide { display:none; }

.pb-30 { padding-bottom:30px !important; }
.black { color:#333; font-weight:bold; }

/*{{{*/
a { text-decoration:none; cursor:pointer; }
.fm-body .cont-right .cont-border ul.music-list li span {overflow:hidden; float:left; padding-left:5px; }


.layer { position:absolute;  z-index:51; overflow:hidden;

}

.ly-box .cont-border h2.ly-title{
	padding-left: 10px;
}
/*
.ly-box {margin:auto; overflow:hidden; position:relative; }
.ly-box .cont-border { padding:0 10px; float:left;}
.ly-box .cont-border h2 {
	line-height:16px; padding:4px 0; 
	position:absolute;top:1px;
	font-size:12px; z-index:10;
}
.ly-box .cont-border h2 span { font-weight:normal; font-family:"宋体"; }
.ly-box .cont-border a.close { position:absolute; right:20px; top:5px; z-index:10; }
.ly-box .top .box i { background-position:-175px -200px; }
.ly-box .top .box i.right { background-position:-185px -200px; }
.ly-box .top .box .boxcenter { background-position:0 -180px; }
.ly-box .bottom .box i { background-position:-175px -210px; }
.ly-box .bottom .box i.right { background-position:-185px -210px; }
.ly-box .bottom .box .boxcenter { background-position:0 -195px; }
.ly-box .cont-border .left .box { background-position:-60px 0; }
.ly-box .cont-border .right .box { background-position:-70px 0; }
.ly-box .cont-border .content { padding:30px 0px 0px 0px; position:relative; background:#DDD; float:left; overflow:hidden; }
*/
.ly-box { padding:10px 0; float:left; overflow:hidden; }
.ly-box .top,.ly-box .bottom { width:100%;/* _width:expression(eval(window.layerContent.clientWidth+20));*/ _width:143px; height:10px; overflow:hidden; position:absolute; left:0; top:0; }
.ly-box .top .box,.ly-box .bottom .box { padding:0 10px; height:10px; overflow:hidden; position:relative; }
.ly-box .top .box i,.ly-box .bottom .box i { width:10px; height:10px; display:block; overflow:hidden; background:url(/assets/style/gdg/img/ui.png) no-repeat -175px -200px; position:absolute; left:0; top:0; }
.ly-box .top .box i.right,.ly-box .bottom .box i.right { background-position:-185px -200px; left:auto; right:0; }
.ly-box .top .box .boxcenter,.ly-box .bottom .box .boxcenter { height:10px; overflow:hidden; background:url(/assets/style/gdg/img/rpx.png) repeat-x 0 -180px; }

.ly-box .bottom { top:auto; bottom:0; }
.ly-box .bottom .box i { background-position:-175px -210px; }
.ly-box .bottom .box i.right { background-position:-185px -210px; }
.ly-box .bottom .box .boxcenter { background-position:0 -195px; }

.ly-box .cont-border { padding:0 10px; float:left; overflow:hidden; position:relative; }
.ly-box .cont-border .left,.ly-box .cont-border .right{ width:10px; overflow:hidden; position:absolute; left:0; top:0;  }
.ly-box .cont-border .left .box,.ly-box .cont-border .right .box { width:10px; height:1500px; overflow:hidden; background:url(/assets/style/gdg/img/rpy.png) repeat-y -60px 0; }
.ly-box .cont-border .right { left:auto; right:0; }
.ly-box .cont-border .right .box { background-position:-70px 0; }

.ly-box .cont-border h2 {line-height:16px; padding:4px 0; position:absolute; left:5px; top:1px; font-size:12px; z-index:10; }
.ly-box .cont-border h2 span { font-weight:normal; font-family:"宋体"; }
.ly-box .cont-border a.close { position:absolute; right:20px; top:5px; z-index:10; }

.ly-box .cont-border .content { padding:30px 0px 0px 0px; position:relative; background:#DDD; float:left; overflow:hidden; }



.icon_del_active {
	border: 1px solid red;
}
.shadow{
	-moz-box-shadow: 5px 5px 5px rgb(63, 63, 63);
	-webkit-box-shadow:5px 5px 5px rgb(63,63,63);
	box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.5);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#3F3F3F,direction=135,strength=5);
}

.ui-autocomplete {
	position: absolute; cursor: default; 
	background-color: #EFEFEF;
	border: 1px solid #CCC;
}	
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
	border-bottom: 1px solid #CCC;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;background-color: #E1F0F7;
}
.elm-add{ padding:10px ; }
.elm-add li{ width:100%; }

.elm-add li.label {
	font-size: 14px;padding-bottom: 16px;
}
.checkbox_show .checkbox{
	display:block;
}
.checkbox_hide .checkbox{
	display:none;
}

#IDTips{
	position:absolute;top:32px;width:100%;text-align:center;margin:auto;
	z-index: 3;
	font-weight: bold;
}
#IDTips ul{
	color: black;
	margin:0 auto;
	padding-left: 20px;
	padding-right: 25px;
	font-size: 13px;
}
#IDTips li a{
	background: yellow;
	padding: 2px;
	border-bottom-left-radius: 4px 4px; 
	border-bottom-right-radius:4px 4px; 

	-moz-border-radius-bottomleft:4px 4px; 
	-moz-border-radius-bottomright:4px 4px; 

	-webkit-border-bottom-left-radius:4px 4px; 
	-webkit-border-bottom-right-radius:4px 4px; 
}
#IDTips .x{
	color:#ccc ;cursor:pointer;
}
#IDTips .x:hover{
	color:red	;cursor:pointer;
}


.bt_new {
	border: 1px solid #AAA;
	vertical-align: middle;
	font-size: 12px;
	text-decoration: none;
	border-radius: 5px;
	padding: 2px 6px;float: left;
}
.bt_new:hover {
	
	background:white;
}
.bt_new.bt_icon{
	padding: 3px;float:right;
}
/*}}}*/


.table-layer { position:absolute; left:300px; top:200px; z-index:51; }
.table-layer tr.top,.table-layer tr.top td,.table-layer tr.bottom,.table-layer tr.bottom td { height:10px; }
.table-layer .top,.table-layer .bottom,.table-layer .middle { position:static; }
.table-layer .angle { width:10px; background:url(/assets/style/gdg/img/ui.png) no-repeat; }
.table-layer .left-top { background-position:-175px -200px; }
.table-layer .right-top { background-position:-185px -200px; }
.table-layer .left-bottom {  background-position:-175px -210px; }
.table-layer .right-bottom { background-position:-185px -210px; }
.table-layer .edge-left, .tab-layer .edge-right { width:10px; }
.table-layer .edge-left { width:10px; background:url(/assets/style/gdg/img/rpy.png) repeat-y -60px 0; }
.table-layer .edge-right { width:10px; background:url(/assets/style/gdg/img/rpy.png) repeat-y -70px 0; }
.table-layer .edge-top { height:10px; background:url(/assets/style/gdg/img/rpx.png) repeat-x 0 -180px; }
.table-layer .edge-bottom { height:10px; background:url(/assets/style/gdg/img/rpx.png) repeat-x 0 -195px; }
.table-layer .layer-body { position:relative; }
.table-layer .layer-body .ly-title { line-height:16px; padding:4px 0 4px 16px; font-size:12px; z-index:10; background:#DDD; }
.table-layer .layer-body .ly-title span { font-weight:normal; font-family:"宋体"; }
.table-layer .layer-body a.close { position:absolute; right:20px; top:5px; z-index:10; }
.table-layer .layer-body .content { padding:10px 0px 0px 0px; position:relative; background:#DDD; }


.t-header{display:none;}
.logo .btnbox { float:right; display:none;}
#IDNav .lyrics{display:none; }
#IDNav .playMode{}
.logo .photo_img { width:182px; height:146px; display:block; background:url(/assets/style/gdg/img/ui.png) no-repeat 0 -475px; position:absolute; left:20px; top:-10px; }
body {background: #DECEAC; }
i.fm-logo { margin-left:180px; _margin-left:90px;width: 406px;height: 77px;}
.fm-body .cont-left .cont-border .content h2{
margin-left: 190px;color: #9D612F;
}
.fm-body .cont-left .cont-border .content{
background: #2B241C;
}
.fm-body .cont-right .tab-bg .tab a.current{
color: white;font-weight: bold;
}
.fm-body .cont-right .cont-border {background:#2B241C;}
.fm-body .cont-right .cont-border .search-box {border-bottom:none;}
.fm-body .cont-right .cont-border ul.music-list {border:1px solid #271E19; background:#48372D;}

.fm-body .cont-right .cont-border ul.music-list li {border-bottom:1px solid #271E19;color:#B98C65}
.fm-body .cont-right .cont-border ul.music-list li A{color:#B98C65;}
.bt_new{color:#B98C65;
}
.mylist-box .mylist-cont{
min-height: 40px;
}.btn-love{
display:none;
}