@charset "utf-8";
body,div,ul,ol,li,form{
		padding:0px;
		margin:0px;
		font:12px/20px arial, helvetica, verdana, tahoma, sans-serif;
}
img{border:0;}
h3 {font-weight:bold; margin:2px; text-aling:left;}
ol,ul{list-style:none;}
body {
		/*color:#5C71A2;*/
		/*color:#000;*/
		color:#222;
		font-size:1.2em;
		background:#dddddd;
}
div{
		display: block;
}
img, a img {border:0;}
a {
		color:#222;
		text-decoration:none;
}
a:hover {text-decoration:underline;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.hide{display:none;}
.red{
		color:red
}
.handle{
		cursor:pointer;
		float:left;
}
.content {
		width:900px;
		margin:auto;
		background:#fff; color:#111;  border:2px solid #ccc; text-align:center; 
		padding:0px;
}
.header{width:900px;margin:10px auto;}
li{
		/*font-size: 1.1em;
		line-height: 10px;
		*/
		cursor:pointer;
}
.list{
		margin:auto;
		margin:5px;
}
.list .head{
		color: #014CCC;
		background: #EAF9FE none;
		/*border-color: #E5E5E5;*/
		border: 1px solid #A7D6E0;
		height: 20px;
		width:210px;
		margin-left:10px;
}
#_Content{
		height:250px;
		overflow:hidden;
		/*overflow-y:scroll;*/
		overflow-y:auto;
}
.list {
		height:320px;
		width:235px;
}
.list li  {
		cursor:pointer;
		clear:both;
		padding:1px;
		border-bottom:1px solid #E5E5E5;
		text-align:left;
		width:210px;
		line-height:20px;
}
.list .current{
		overflow:hidden;
		background: #6A9BC0 url(http://static.youku.com/index/img/master.png) no-repeat 5px -1312px;
}
.list li a{
		padding-left:15px;
		display:block;
}
.list .current a:hover {
		background: #6A9BC0 url(http://static.youku.com/index/img/master.png) no-repeat 5px -1312px;
}
.list a:hover {
		background:#daf3fa; 
		text-decoration:none;
}
.list .trash{
		border: 1px solid #A7D6E0;
		width:210px;
		margin-left:10px;
}
.header li  {
		float: left;
		padding-left:5px;
		padding-right:5px;
}
.header .nav{
		margin-left:auto;width:220px;
}
.content li{
		float: left;
}
.content li{
		margin-left:10px;
		margin-right:10px;
		font-size:12px;
}
.content .main{
}
.content .nav{
		margin:18px auto;
}
.content{
		padding-top:5px;
}
.footer li{
		float: left;
		padding:10px;
}
.footer .nav{
		margin:8px auto;
		padding-bottom:8px;
		margin-left:auto;
}
.footer a{
		color:#5C71A2;
}
/*
input {font: normal 19px Arial; }
input#q {
height: 25px; padding:2px 5px 0 2px; border-style:none; border-width:0;overflow:auto; width:292px; text-align:center;}
textarea {font: normal 12px Courier; margin: 5px 0; }
h1#web20write {width:700px; height:54px; dislay:block; text-align:center;}
div#result,div#api,div#services,div#submitform,div#who,div#embed,div#footer {
background: #e5e5e5; display:block; clear:both; margin:15px 40px; padding:5px;  border-radius:5px;
}
 */
.playerBox{
		margin:auto;
		margin:5px;
		width:400px;
		height:320px;
}
.lyrics{
		margin:auto;
		margin:5px;
}
#PlayModeSet input{
		vertical-align: top;
}
.lyrics_top{
		/*background: #999; /* for non-css3 browsers */
		-moz-opacity:0.3;              /* Moz + FF */ 
		opacity: 0.3; 
		position:absolute;
		top:0px;
		filter:alpha(opacity=30) progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
		background: -moz-linear-gradient(top, #ccc, #000); /* for firefox 3.6+ */
		/* not ie */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}
/*
.ac_results {
		padding: 0px;
		border: 1px solid #A7D6E0;
		background-color: white;
		overflow: hidden;
		z-index: 99999;
}

.ac_results ul {
		width: 100%;
		list-style-position: outside;
		list-style: none;
		padding: 0;
		margin: 0;
}

.ac_results li {
		margin: 0px;
		padding: 2px 5px;
		cursor: default;
		display: block;
		font: menu;
		font-size: 12px;
		line-height: 16px;
		overflow: hidden;
}

.ac_loading {
		background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
		background-color: #eee;
}

.ac_over {
		background-color: #0A246A;
		color: white;
}
*/
